---
layout: default
title: Firefly
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">A business with a purpose</h1>
				<p class="editable">We believe businesses should fight global issues. Ours is wildfires. We do it from space.</p>
				<div class="button">
					<a href="#join">Read more</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="/images/sheep.jpg" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">How we help</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Satellite Imagery</h3>
			<p class="editable">High-resolution satellite images are used to obtain different measurements of the natural environment. </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Asset Control</h3>
			<p class="editable">We have the ability to monitor environmental conditions around properties, roads and settlements prone to wildfires- remotely, continously and at lost cost.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Work Conditions</h3>
			<p class="editable">We create an honest company and offer fair working conditions.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="/images/sheep2.jpg" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">We stop wildfire disasters. We help protect and manage lands and forests, which is arsource-intensive and an nearly-impossible task from the ground. This is why we do it from space.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Congratulations on your pitch, I though it was brilliant!</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Maria Ferreira</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container" id="join">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in wildfire mitigation.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>


<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
